VOICEVOX_URL = 'http://localhost:50021'
OPENAI_API_KEY = ''
IDENTITY_FILE = ''
OWNER_NAME = ''
DEEPL_AUTH_KEY=''

# run utils/getAudioID.py in order to obtain the id for your audio devices
# The mic you will be speaking into
MICROPHONE_ID=
# Your Speaker
VOICEMEETER_INPUT_ID=
# Your 2nd Speaker or Virtual Cable for ANY purposes
CABLE_INPUT_ID=

